<h1>followers</h1>
<hr />
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <ul>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </ul>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="user_info">
      <ul style="list-style-type: none"> <!--マークを消す-->
      <ul id="blank-list">  
        <% @users.each do |u| %>
          <li class="clearfix">
        <%= gravatar_for u %>
        <%= u.name %>
          </li>
        <% end %>
      </ul>
      </ul>
      <%= paginate @users, :params => {:controller => 'users', :action => 'followers'} %>
    </section>
  </div>
</div>